extends ../layouts/default

block content
	h1.dashboard-heading Manage
	hr
	h4.dashboard-subheading Posts
	ul.dashboard-list
		li: a(href='/list') Posts
		li: a(href='/list') Post Categories
		li: a(href='/list') Just
		li: a(href='/list') For
		li: a(href='/list') Appearance
	h4.dashboard-subheading Posts
	ul.dashboard-list
		li: a(href='/list') Posts
		li: a(href='/list') Post Categories
		li: a(href='/list') Just
		li: a(href='/list') For
		li: a(href='/list') Appearance